
<footer id="footer">
    <a class="footer" href="https://google.com" target="_blank">google</a>
    <a class="footer" href="#">aryan panchal</a>
     <a class="footer" href="/">home</a>
    </footer>
