 <header class="header">
        <nav>
            <div class="nav-link-right">
            <a class="nav-link" href="/">home</a>
            <a class="nav-link" href="/html">html</a>
            <a class="nav-link" href="/css">css</a>
            <a class="nav-link" href="/javascript">javascript</a>
            <a class="nav-link" href="/backend">backend</a>
        </div>
    </nav>
    <div class="center-nav">
        <h1 class="nav-h1">around website</h1>
    </div>
    <div id="home-link">
        <a class="home-link" href="/">home</a>
    </div>
</header>
