<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
   {{>header}}

    <main>
        <div class="heading-h1">
            <h1>
                backend languages
            </h1>
        </div>
        <div class="para">
            <p>
                Some common backend languages are Ruby, PHP, Java, . Net, and Python. These programming languages often run on frameworks that simplify the web development process. Rails, for example, is a framework written in Ruby.
            </p>
        </div>
        <div class="heading-h1">
     <h1>
        What Is Backend Development? 
     </h1>
        </div>
        <div class="para">
            <p>
                at the back end of programs are referred to as back end development. Back-end development covers server-side web application logic and integration and activities, like writing APIs, creating libraries, and working with system components instead of frontend development, which focuses on customer-facing services and programs. Backend developers build code that allows a database and an application to communicate with one another. Backend developers take care of and maintain the backend of a website, including databases, servers, and apps, and they control what you don't see.
            </p>
        </div>
    </main>

   {{>footer}}
</body>
</html>