<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
  {{>header}}
    <main>
    <div class="heading-h1">
        <h1>What is CSS?</h1>
    </div>
    <div class="para">
    <p>
        CSS is the language for describing the presentation of Web pages, including colors, layout, and fonts. It allows one to adapt the presentation to different types of devices, such as large screens, small screens, or printers. CSS is independent of HTML and can be used with any XML-based markup language. The separation of HTML from CSS makes it easier to maintain sites, share style sheets across pages, and tailor pages to different environments. This is referred to as the separation of structure (or: content) from presentation.
    </p>
</div>
<div>
    <h1 class="heading-h1" >How CSS is different from HTML?</h1>
</div>
<div  class="para">
    <ol type="A">
        <li>HTML is used to define a structure of a web page whereas CSS is used to style the web pages by using different styling features.</li>
        <li>HTML consists of tags inside which text is enclosed and CSS consists of selectors and declaration blocks.</li>
        <li>CSS can be internal or external depending upon the requirement.</li>
        <li>We cannot use HTML inside a CSS sheet but we can use CSS inside an HTML document.</li>
        <li>CSS has comparatively higher backup and support than HTML.</li>
    </ol>
</div>
<div>
    <h1 class="heading-h1">Why is CSS used in HTML?</h1>
</div>
<div  class="para">
    <p>
        Solves a big problem: Font, color, background style, element alignments, border, and size tags had to be duplicated on each web page before CSS. This was a lengthy procedure.
        Saves a lot of time: Because CSS style definitions are stored in external CSS files, updating only one file can modify the entire website.
        Provide more attributes: CSS gives more specific features for defining the look and feel of a website than simple HTML.
        Pages load faster: CSS doesnt require you to write HTML tag attributes all of the time. A tag's rule can be written once and applied to all instances of the tag. As a result, CSS uses less code, resulting in speedier download times.
        Easier Website maintenance: CSS makes website maintenance much easier. If we need to make a global change to the file, we can simply alter the style, which will update all of the elements on the web page.
       
    </p>
</div>
    </main>
{{>footer}}
</body>
</html>