<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
    {{>header}}
<main>
    <div class="heading-h1">
        <h1>what is html</h1>
    </div>
    <div class="para">
        <p>
            HTML stands for HyperText Markup Language. It is used to design web pages using a markup language. HTML is the combination of Hypertext and Markup language. Hypertext defines the link between web pages. A markup language is used to define the text document within the tag which defines the structure of web pages. This language is used to annotate (make notes for the computer) text so that a machine can understand it and manipulate text accordingly. Most markup languages (e.g. HTML) are human-readable. The language uses tags to define what manipulation has to be done on the text. 
        </p>
    </div>
    <div  class="heading-h1">
        <h1>Features of HTML: </h1>
    </div>
    <div class="para">
        <ol type="1">
            <li>It is easy to learn and easy to use.</li>
            <li>It is platform-independent.</li>
            <li>Images, videos, and audio can be added to a web page.</li>
            <li>Hypertext can be added to the text.</li>
            <li>It is a markup language.</li>
        </ol>
    </div>
    <div class="heading-h1">
        <h1>Why learn HTML? </h1>
    </div>
    <div  class="para">
        <p>
            It is a simple markup language. Its implementation is easy.
            It is used to create a website.
            Helps in developing fundamentals about web programming.
            Boost professional career.
        </p>
    </div>
</main>

  {{>footer}}
</body>
</html>