<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>

   {{>header}}

<main>
    <div  class="heading-h1">
        <h1>What is a Website?</h1>
    </div>
    <div class="para">
        <p>A website is a collection of linked web pages (plus their associated resources) that share a unique domain name. Each web page of a given website provides explicit links—most of the time in the form of clickable portions of text—that allow the user to move from one page of the website to another</p>
    </div>
    <div class="heading-h1">
        <h2>website frontend programming language</h2>
    </div>
    <div id="container-main-para">
        <p class="para">
            <span class="span-tag">HTML </span>is one of the most common programming languages used to create and design websites and pages. This type of programming language is known as a markup language, which means it is distinguished by markup tags. Markup tags are keywords surrounded by brackets and when used, they create a specific output in the browser window.
        </p>
        <p class="para">
            <span class="span-tag"> CSS</span> is a complementary language that helps to style HTML markup code. A page's CSS styles are usually called between the HTML (head) tags. This method of styling a page is incredibly useful because it allows a website developer to change all of the same HTML elements on a page without the need to change each one individually. It allows developers to save time and to test new design styles with ease.
        </p>
        <p class="para">
            <span class="span-tag">JavaScript</span> resembles more traditional computer programming languages but allows Internet users to perform certain actions on a website and interact with the content. The scripting language uses function calls and supports object-oriented elements. It can be used outside of the Web, for example, in PDF documents. This language should not be confused with the similar sounding language, Java.
        </p>
    </div>
    <div >
        <h2  class="heading-h1">website backend programming language</h2>
    </div>
    <div>
        <p class='main-para-2'>
            In general, the popular backend languages are Python, Java, JavaScript, Ruby, C#, and PHP
        </p>
    </div>
    
    <div class="link-img" >
        <img class="img" src="img-1.png.png" alt="error">
    </div>
</main>
{{>footer}}
</body>
</html>